<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.LatLngMapper">
	<insert id="insertLatLng" parameterType="LatLngVO">
		INSERT INTO LAT_LNG (
			LAT,LNG,UNUM
		)
		VALUES (
			#{LAT},#{LNG},#{UNUM}
		)
	</insert>
	
	<update id="updateLatLng" parameterType="LatLngVO">
		UPDATE LAT_LNG
		SET LAT=#{LAT},LNG=#{LNG}
		WHERE UNUM=#{UNUM}
	</update>
	
	<update id="removeLatLng" parameterType="LatLngVO">
		UPDATE LAT_LNG
		SET LAT=#{0.0},LNG=#{0.0}
		WHERE UNUM=#{UNUM}
	</update>
	
	<select id="getNearLatLng" resultType="LatLngVO">
	<![CDATA[
		SELECT *,
			(6371*ACOS(COS(RADIANS(#{LAT}))*COS(RADIANS(LAT))*COS(RADIANS(LNG)
			-RADIANS(#{LNG}))+SIN(RADIANS(#{LAT}))*SIN(RADIANS(LAT))))
			AS DISTANCE
		FROM LAT_LNG
		WHERE UNUM <> #{UNUM}
		HAVING DISTANCE <= #{RNG}
		ORDER BY DISTANCE
		LIMIT 0,100;
	]]>
	</select>
</mapper>