<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.MessageMapper">
	<insert id="insertMessage" parameterType="MessageVO">
		INSERT INTO messages (message_id, sendname, username, message, write_date, readthis)
		VALUES ( #{messageId}, #{sendname}, #{username}, #{message}, current_timestamp, "x")
	</insert>
</mapper>