<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.MessageMapper">
	<insert id="insertMessage" parameterType="MessageVO">
		INSERT INTO MESSAGES (MESSAGE_ID, SENDNAME, USERNAME, MESSAGE, WRITE_DATE, READTHIS)
		VALUES ( #{MESSAGEID}, #{SENDNAME}, #{USERNAME}, #{MESSAGE}, CURRENT_TIMESTAMP, "X")
	</insert>
</mapper>